body {
    margin: 0px;
    height: 90%;
    width: 100%;
    background-color: #f1f1f1;
    font-family: 'Montserrat';
}

header {
    background-color: #F44336;
    padding:10px;
}
input, .form-select, textarea {
    font-family: 'Montserrat';
    color: #333;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    border: solid 1px #F44336;
    margin-bottom: 5px;
}
header h3 {
    color: white;
}
.hamburguesa i {
    color: white;
    font-size: 24px;
}
.header {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

img.avatar {
    max-width: 50px;
    border: solid 2px white;
    border-radius: 100%;
}
img.img-tarea {
    max-width: 50px;
    background-color: #333;
    border-radius: 100%;
}
.contenedor {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    background: url(../images/sad.png) no-repeat center;
    background-size: 20%;
}
.botones {
    text-align: right;
}
.botones button {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding:10px;
    transition: .3s;
}
.botones button:hover {
    box-shadow: 0px 0px 25px #00000047;
}
#btn-crear {
    background-color: #F44336;
    color: white;
    transition: .3s;
}
.lista-de-tareas {
    background-color: #fff;
    margin-bottom: 10px;
    border: solid 1px #fafafa;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    transition: .2s;
}

.lista-de-tareas img {
    width: 15%;
}
.lista-de-tareas p {
    width: 75%;
    margin-left: 10px;
}
.lista-de-tareas i {
    text-align: center;
    width: 5%;
    padding-left: 2%;
    color: #333;
    font-size: 24px;
}
.lista-de-tareas:hover {
    box-shadow: 0px 0px 25px #00000047;
}

.list-group-item.active {
    z-index: 2;
    color: var(--bs-list-group-active-color);
    background-color: #F44336;
    border: none;
}
.ingresa-tarea {
    display: none;
    background-color: #f1f1f1;
    border-radius: 15px;
    padding:50px 30px;
    box-shadow: 0px 0px 25px #00000047;
    width: 85%;
    position: absolute;
}
.lista-general {
    width: 90%;
    padding-inline-start: 0px;
}
.aparecer {
    display: block;
}
.boton-agregar {
    position: fixed;
    padding:15px;
    border: none;
    border-radius: 100%;
    bottom:20px;
    right: 20px;
    width: 56px;
    height: 56px;
    transition:.3s;
    color: #F44336;
    background-color: #FFCDD2;
}
.boton-agregar:hover {
    color: white;
    border-color: white;
    background-color: #F44336;
    box-shadow: 0px 0px 25px #00000047;;
}
.establecerPrioridad {
    display: flex;
    justify-content: space-evenly;
}
.form-check-input[type=radio] {
    border-radius: 0%;
}
.form-check-input:checked {
    border:solid 2px #F44336;
}
.form-check-input:checked[type=radio] {
    --bs-form-check-bg-image: none;
}
.prioridad-baja.form-check-input {
    background-color: #afafaf;
}
.prioridad-baja.form-check-input:checked {
    background-color: grey;
}
.prioridad-media.form-check-input {
    background-color: rgb(199, 253, 118);
}
.prioridad-media.form-check-input:checked {
    background-color: green;
}
.prioridad-alta.form-check-input {
    background-color: rgb(255, 181, 112);
}
.prioridad-alta.form-check-input:checked {
    background-color: orange;
}
.prioridad-urgente.form-check-input {
    background-color: rgb(252, 174, 174);
}
.prioridad-urgente.form-check-input:checked {
    background-color: red;
}
.lista-baja {
    border-right: solid 6px grey;
}
.lista-media {
    border-right: solid 6px green;
}
.lista-alta {
    border-right: solid 6px orange;
}
.lista-urgente {
    border-right: solid 6px red;
}